SYMFONY_VERSION=7.3
REPO_SITE=github.com
VENDOR=yourvendor
PROJECT_NAME=example
PROJECT_FULL_NAME="Microservice Example"
PROJECT_DESCRIPTION="This is a full multiline project description.

It is used in [README.md]()."
PARENT_PROJECT_FULL_NAME="Global Project Example"
